// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//COLORS
$color-white: #FFF;
$color-magnolia: #F8F3FF;
$color-east-side: #AA7ECD;
$color-east-mine-shaft: #303030;
$color-hint-of-green: #E1FEE8;
$color-silver-chalice: #9F9F9F;
$color-medium-purple: #8E43ED;

//IMAGES
$rectangles-small-w: 80px;
$rectangles-small-h: 117px;

//SIZES
$breakpoint-1: 1024px;
$breakpoint-2: 1280px;
$breakpoint-3: 968px;