// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//COLORS
$color-magnolia: #F8F3FF;
$color-east-side: #AA7ECD;
$color-east-mine-shaft: #303030;
$color-hint-of-green: #E1FEE8;

//IMAGES
$rectangles-small-w: 80px;
$rectangles-small-h: 117px;