.section {
  position: relative;
}
//SECTION-1
.section-1 {
  padding: 24px 0 58px;
}
.img-rounded {
  border-radius: 24px;
}
.bg-crop {
  display: none;
}
.bg-crop-tl,
.bg-crop-br {
  @extend .bg-crop;
}
@media (min-width: $breakpoint-1) {
  .row {
    display: flex;
  }
  .person-img {
    width: 45%;
  }
  .person-info {
    width: 50%;

    padding: 44px 0 0 36px;
  }

  .bg-crop {
    display: block;

    position: absolute;
    width: 23%;
    height: 32%;
  }
  .bg-crop-tl {
    top: 0px;
    left: 0px;
  }
  .bg-crop-br {
    right: 0px;
    bottom: 0px;
  }

  .section-1 {
    padding: 100px 0;
  }
}



.person-img {
  margin-bottom: 24px;
}

.person__fio {
  font-size: 40px;
  line-height: 48px;
  color: $color-east-mine-shaft;

  margin-bottom: 16px;
}
@media (min-width: $breakpoint-2) {
  .person__fio {
    font-size: 56px;
    line-height: 72px;
  }
}

.person-general {
  margin-bottom: 32px;
}
.person-general__items {
  margin: 0; // очищение отступов списка
  padding: 0;
  list-style: none;

  display: flex;
}
.person-general__item:not(:last-child) {
  margin-right: 39px;
}
.person-general__item h4 {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;

  color: $color-east-side;

  margin-bottom: 4px;
}
.person-general__item p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;

  color: $color-east-mine-shaft;
}

@media (min-width: $breakpoint-2) {
  .person-general__item {
    display: flex;
  }
  .person-general__item h4 {
    margin-right: 8px;

    font-size: 16px;
    line-height: 21px;
  }
  .person-general__item p {
    font-size: 16px;
    line-height: 21px;
  }
}

.person-about h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;

  color: $color-east-mine-shaft;

  margin-bottom: 16px;
}
.person-about p {
  font-size: 15px;
  line-height: 24px;
}
.person-about p:not(:last-child) {
  margin-bottom: 1em;
}

@media (min-width: $breakpoint-2) {
  .person-about h3 {
    font-size: 27px;
    line-height: 36px;
  }
  .person-about p {
    font-size: 18px;
    line-height: 32px;
  }
}

//SECTION-2
.section-2 {
  padding: 40px 0 48px;

  background-color: $color-magnolia;
}

.section-2 h2 {
  font-size: 32px;
  line-height: 41px;
  color: $color-east-mine-shaft;

  width: 65%;
}
.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-success {
  display: none;

  align-items: center;
}

@media (min-width: $breakpoint-1) {
  .section-2 {
    padding: 48px 0 56px;

    background-image: url("../../../assets/img/rectangles-big-1.png"),
                      url("../../../assets/img/rectangles-big-2.png");
    background-repeat: no-repeat no-repeat;
    background-position: left center, right center;
  }
  .elements-on-top--2 {
    display: none;
  }
  .section-2 h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 72px;

    margin-bottom: 40px;
  }

  .form-inputs div {
    display: flex;
  }
  .form-buttons {
    display: flex;
  }
  .form-buttons .btn {
    width: 212px;
    margin-right: 24px;
  }
}

//SECTION-3
.section-3 {
  padding: 32px 0;
}