.header {
  background-color: $color-magnolia;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 17px 0;
}
.header__logo {
  width: 80px;
}
.nav {
  display: none;
}

@media (min-width: $breakpoint-1) {
  .header-content {
    justify-content: space-between;
  }
  .nav {
    display: block;

    margin-right: 10%;
  }
  .nav-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
  }
  .nav-list__item {
    margin-right: 32px;
  }
  .nav-list__item a {
    text-decoration: none;

    font-size: 16px;
    line-height: 20px;
    color: $color-medium-purple;
    font-weight: 500;
  }
}