// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  border: none; // обнуление дефолтной границы

  display: block;

  width: 100%;
  padding: 16px;

  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-radius: 12px;
}

.btn-primary {
  @extend .btn;

  color: $color-white;
  background: $color-medium-purple;
}

.btn-secondary {
  @extend .btn;

  color: $color-medium-purple;
  background: transparent;
  border: 1px solid $color-medium-purple;
}