// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  border: none; // обнуление дефолтной границы

  display: block;

  width: 100%;
  padding: 16px;

  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-radius: 12px;

  cursor: pointer;
  transition: .2s;
}

.btn-primary {
  @extend .btn;

  color: $color-white;
  background: $color-medium-purple;

  &:hover {
    background: $color-purple-heart;
  }
  &:active {
    background: $color-purple;
  }
  &:disabled {
    background: $color-mischka;
    cursor: default;
  }
}

.btn-secondary {
  @extend .btn;

  color: $color-medium-purple;
  background: $color-selago;
  border: 1px solid $color-medium-purple;

  &:active {
    background: $color-blue-chalk;
  }
  &:disabled {
    background: $color-mauve;
    border: $color-mauve;
  }
}