.elements-on-top {
  position: absolute;
}

.elements-on-top--1 {
  @extend .elements-on-top;

  width: 30%;
  height: 40%;

  right: -1%;
  bottom: -10%;

  @media (min-width: $breakpoint-1) {
    & {
      left: -11%;
      bottom: -8%;
      width: 35%;
      height: 45%;
      transform: rotateY(180deg);
    }
  }
}
.elements-on-top--2 {
  width: auto; //сбросить базовое для картинок 100%
  transform: rotate(-150deg);
}