.elements-on-top {
  position: absolute;


}

.elements-on-top--1 {
  @extend .elements-on-top;

  width: 30%;
  height: 40%;

  right: 0;
  bottom: -10%;
}
.elements-on-top--2 {
  @extend .elements-on-top;

  height: 100%;

  right: 0;
  top: 50%;
  transform: translate(50%, -50%) rotate(-150deg);
}