.input-box {
  display: block;

  min-width: 270px;

  margin-bottom: 40px;
}
.input-box h4 {
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: $color-east-mine-shaft;

  margin-bottom: 8px;
}
.input-box input,
.input-box select {
  width: 100%;
  padding: 15px 12px;

  font-size: 16px;
  line-height: 24px;
  color: $color-east-mine-shaft;

  border: 1px solid #D9BBFF;
  border-radius: 12px;
}
.input-box input::-webkit-input-placeholder,
.input-box select option:disabled {
  color: $color-silver-chalice;
}

@media (min-width: $breakpoint-1) {
  .input-box {
    margin-right: 32px;
    margin-bottom: 40px;
  }

}