$slider-height: 535px;

.slider {
  position: relative;

  height: $slider-height;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  border-radius: 24px;

  overflow: hidden;
}

.slider-line {
  position: absolute;

  height: $slider-height;

  display: flex;

  transition: .3s;

  .slider-image {
    background-position: center;
    background-size: cover;
  }
  .slider-image--1 {
    @extend .slider-image;
    background-image: url("../assets/img/slider/slider-1-large.png");
  }
  .slider-image--2 {
    @extend .slider-image;
    background-image: url("../assets/img/slider/slider-2-large.png");
  }
  .slider-image--3 {
    @extend .slider-image;
    background-image: url("../assets/img/slider/slider-3-large.png");
  }
}

.slider-panel {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;

  display: flex;
  justify-content: space-between;

  .slider-btn {
    background-color: transparent;
    border: none;
    outline: none;

    cursor: pointer;
  }

  .slider-dots {
    display: flex;

    .slider-dots__item {
      cursor: pointer;
    }

    .slider-dots__item:not(:last-child) {
      margin-right: 12px;
    }

    .slider-dots__item img{
      width: auto; //сброс дефолтных 100%
    }
  }
}

.slider-text {
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  width: 73%;
  max-width: 580px;

  & h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: $color-white;

    text-align: center;

    margin-bottom: 16px;
  }

  & p {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: $color-white;

    text-align: center;
  }

  @media (min-width: $breakpoint-1) {
    & h2 {
      font-size: 56px;
      line-height: 72px;
    }
    & p {
      font-size: 18px;
      line-height: 32px;
    }
  }
}
