$slider-height: 535px;

.slider {
  position: relative;

  height: $slider-height;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  border-radius: 24px;

  overflow: hidden;

  .slider-line {
    height: $slider-height;

    display: flex;

    & img {
      transition: .2s;
    }
  }
}

.slider-panel {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;

  display: flex;
  justify-content: space-between;

  .slider-btn {
    background-color: transparent;
    border: none;
    outline: none;
  }

  .slider-dots {
    display: flex;

    .slider-dots__item:not(:last-child) {
      margin-right: 12px;
    }

    .slider-dots__item img{
      width: auto; //сброс дефолтных 100%
    }
  }
}
